/* Fonts Definitions */ 
/* 300 */ @font-face {
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 300;
  src: url("https://raw.githubusercontent.com/blaisck/sfwin/master/SFPro/TrueType/SFProDisplay-Light.ttf");
}
/* 400 */ @font-face {
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 400;
  src: url("https://raw.githubusercontent.com/blaisck/sfwin/master/SFPro/TrueType/SFProDisplay-Regular.ttf");
}
/* 500 */ @font-face {
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 500;
  src: url("https://raw.githubusercontent.com/blaisck/sfwin/master/SFPro/TrueType/SFProDisplay-Medium.ttf");
}
/* 600 */ @font-face {
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 600;
  src: url("https://raw.githubusercontent.com/blaisck/sfwin/master/SFPro/TrueType/SFProDisplay-SemiBold.ttf");
}
/* 700 */ @font-face {
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 700;
  src: url("https://raw.githubusercontent.com/blaisck/sfwin/master/SFPro/TrueType/SFProDisplay-Bold.ttf");
}

/* CSS General */

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    font-family: "SF Pro Display";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header, main, footer {
    flex: 1;
    width: 100vw;
}

/* HEADER */

/* HEADER Top */ 
.header-top {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 32px;
    padding: 16px 123px;
}
    /* logo */
.logo-header {
    width: 96px;
    height: 32px;
}
    /* search bar */
.search-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #F5F5F5;
    border-radius: 8px;
    width: 433px;
    height: 56px;
}
.search-input {
    border: none;
    padding: 16px 34px 16px 16px;
    background-color: #F5F5F5;
    outline: none;
    width: 398px;
}
.search-button {
    border: none;
    padding: 16px 0 16px 16px;
    cursor: pointer;
    background-color: #F5F5F5;
}
input {
    font-size: 14px;
}
    /* nav */
.header-top-ul {
    width: 100%;
    display: flex;
    gap: 50px;
}
.link-header {
    text-decoration: none;
    font-weight: inherit;
    color: rgba(0, 0, 0, 0.5);
}
.link-header:hover {
    color: rgba(0, 0, 0, 1);
}
ul, ol {
    list-style: none;
}
    /* icons nav */
.icons-header {
    display: flex;
    align-items: center;
    gap: 24px;
}
.icons-link-header {
    display: inline-block;
    text-decoration: none;
}
.icons-link-header img {
    display: block;
    height: auto;
}
li::marker {
    content: '';
}

/* HEADER Subnav*/

.sub-nav {
    width: 100%;
    display: flex;
    gap: 32px;
    padding: 16px 123px;
    background-color: #2e2e2e;
}
.sub-nav-menu {
    width: 100%;
    display: flex;
    list-style: none;
    justify-content: space-between;
    align-items: center;
}
.sub-nav-item {
    display: flex;
    align-items: center;
    gap: 8px;
}
.link-sub-nav {
    text-decoration: none;
    font-weight: inherit;
    color: rgba(255, 255, 255, 0.5);
}
.link-sub-nav:hover {
    color: rgba(255, 255, 255, 1);
}
.img-sub-nav {
    opacity: 0.5;
}

/* FOOTER */
footer {
    width: 100%;
    height: 464px;
    padding: 104px 123px;
    background-color: black;
    color: white;
    font-size: 14px;
}

.footer-infos {
    display: flex;
    justify-content: space-between;
    width: 1120px;
    height: 216px;
}

.footer-lt {
    width: 420px;
    height: 104px;
    font-size: 14px;   
}
.footer-lt-text {
    font-family: "SF Pro Display";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    padding: 24px 0 0 0;
}

.footer-ns {
    display: flex;
    justify-content: space-between;
    width: 623px;
}
.footer-ns-section {
    width: 295.5px;
}
.footer-ns-h2 {
    font-family: "SF Pro Display";
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    padding: 0 0 20px 0;
}
.footer-ns-li {
    font-family: "SF Pro Display";
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    padding: 0 0 15px 0;
}

.footer-socials {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 173px;
}


/* MAIN */

/* FRAME IPHONE */

.frame-iphone {
    background-color: #211C24;
    width: 100%;
    padding: 0 123px;
    height: 632px;
    display: flex;
    justify-content: space-between;
}

.frame-iphone-img {
    width: 406px;
}

.frame-iphone-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.f-i-c-title-p {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    color: rgba(255, 255, 255, 0.4);
    font-size: 25px;
    padding: 0 0 24px 0;
}
.f-i-c-title-h1 {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    color: white;
    font-size: 96px;
    padding: 0 0 24px 0;
}
.f-i-c-title-h1-strong {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    color: white;
    font-size: 96px;
}

.f-i-c-p {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    color: #909090;
    font-size: 18px;
    padding: 0 0 24px 0;
}

.f-i-c-button {
    width: 191px;
    height: 56px;
    background: none;
    border: 1px solid white;
    border-radius: 6px;
    cursor: pointer;
    outline: none;
    
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    color: white;
    font-size: 16px;
}
.f-i-c-button-label:hover {
    opacity: 0.5; /* Effet de survol */
}

/* SMALL BANNERS */

.small-banners {
    width: 100vw;
    height: 600px;
    display: flex;
}

/* Left Banners */
.left-banners {
    width: 50vw;
    height: 600px;
}

    /* wide square */
.l-b-wide-square {
    width: 50vw;
    height: 328px;
    display: flex;
    align-items: center;
    overflow: hidden;
    position: relative;
}
.l-b-w-s-div-img {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    z-index: 1;
}
.l-b-wide-square-img {
    width: 360px;
    height: 343px;
}
.l-b-w-s-div-content {
    width: 100%;
    padding-left: 302px;
    padding-right: 48px;
    position: relative;
    z-index: 2;
}
.l-b-w-s-h2 {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    color: black;
    font-size: 49px;
    padding: 0 0 16px 0;
}
.l-b-w-s-p {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    color: #909090;
    font-size: 14px;
}

    /* squares */
.l-b-squares {
    width: 50vw;
    height: 272px;
    display: flex;
    align-items: center;
}

        /* squares left */
.l-b-squares-left {
    width: 50%;
    height: 272px;
    display: flex;
    align-items: center;
    background-color: #EDEDED;
}
.l-b-squares-left-img {
    width: 104px;
    height: 272px;
}
.l-b-squares-left-div {
    display: flex;
    flex-direction: column;
    padding: 0 47px 0 47px;
}
.l-b-s-l-h3 {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    color: black;
    font-size: 29px;
    padding: 0 0 24px 0;
}
.l-b-s-l-h3-strong {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    color: black;
    font-size: 29px;
}
.l-b-s-l-p {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    color: #909090;
    font-size: 14px;
}

        /* squares right */
.l-b-squares-right {
    width: 50%;
    height: 272px;
    display: flex;
    align-items: center;
    background-color: #353535;
}
.l-b-squares-right-img {
    width: 136px;
    height: 190px;
}
.l-b-squares-right-div {
    display: flex;
    flex-direction: column;
    padding: 0 36px 0 31px;
}
.l-b-s-r-h3 {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    color: white;
    font-size: 29px;
    padding: 0 0 24px 0;
}
.l-b-s-r-h3-strong {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    color: white;
    font-size: 29px;
}
.l-b-s-r-p {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    color: #909090;
    font-size: 14px;
}

/* Right Banners */

.right-banners {
    width: 50vw;
    height: 600px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #EDEDED;
}

.r-b-content {
    width: 50%;
    padding-left: 56px;
    position: relative;
    z-index: 2;
}
.r-b-c-div-h3 {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    color: black;
    font-size: 64px;
    padding: 0 0 16px 0;
}
.r-b-c-div-h3-strong {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    color: black;
    font-size: 64px;
}
.r-b-c-div-p {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    color: #909090;
    font-size: 14px;
    width: 360px;
    height: 72px;
    padding: 0 0 16px 0;
}

.r-b-div-img {
    position: relative;
    top: 0;
    right: 0;
    object-fit: cover;
    z-index: 1;
    margin: 44px 0;
}
.r-b-img {
    height: 502px;
}

.r-b-button {
    width: 191px;
    height: 56px;
    background: none;
    border: 1px solid black;
    border-radius: 6px;
    cursor: pointer;
    outline: none;
    
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    color: black;
    font-size: 16px;
}

.r-b-button-label:hover {
    opacity: 0.5; /* Effet de survol */
}

/* CATEGORY */

.category {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 80px 123px;
}

.category-top {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 32px;
}
.category-top-h3 {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    color: black;
    font-size: 24px;
}
.category-top-imgs {
    display: flex;
    gap: 16px;
}
.c-t-img-button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    outline: none;
}
.c-t-img-button:hover .button-image {
    opacity: 0.5;
}  
.button-image {
    width: 100%;
    height: 100%;
}

.cards-list {
    display: flex;
    gap: 32px;
}
.card {
    background-color: #EDEDED;
    border-radius: 15px;
    overflow: hidden;
    width: 160px;
    height: 128px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.card-content {
    padding-top: 8px;
}
.card-content-h5 {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    color: black;
    font-size: 16px;
}

/* PRODUCTS */

.products {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 56px 123px;
}

.tags {
    display: flex;
    gap: 32px;
    padding-bottom: 32px;
}
.products-tags-h3 {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    color: black;
    font-size: 18px;
}

.products-grid {
    height: 880px;
    display: grid;
    grid-template-columns: repeat(4, 268px);
    grid-template-rows: repeat(2, 432px);
    gap: 16px 16px;
    background-color: white;
}

.products-card {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    color: white;
}
.p-c-item {
    background-color: #F6F6F6;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    padding: 24px 16px;
    border-radius: 10px;
}

.p-c-i-div-like {
    align-self: flex-end;
}

.p-c-i-div-photo {
    height: 160px;
    width: 160px;
}
.p-c-i-d-photo-img {
    height: 100%;
    width: 100%;
}

.p-i-c-div-text-button {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.p-i-c-div-text {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.p-i-c-div-p {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    color: black;
    font-size: 16px;
}
.p-i-c-div-h4 {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    color: black;
    font-size: 24px;
}

.p-i-c-div-button {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.p-i-c-button {
    width: 188px;
    height: 48px;
    background: black;
    border: 1px solid black;
    border-radius: 8px;
    cursor: pointer;
    outline: none;
    
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    color: white;
    font-size: 14px;
}
.p-i-c-button-label:hover {
    opacity: 0.5;
}





