/* Fonts Definitions */ 
/* 300 */ @font-face {
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 300;
  src: url("https://raw.githubusercontent.com/blaisck/sfwin/master/SFPro/TrueType/SFProDisplay-Light.ttf");
}
/* 400 */ @font-face {
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 400;
  src: url("https://raw.githubusercontent.com/blaisck/sfwin/master/SFPro/TrueType/SFProDisplay-Regular.ttf");
}
/* 500 */ @font-face {
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 500;
  src: url("https://raw.githubusercontent.com/blaisck/sfwin/master/SFPro/TrueType/SFProDisplay-Medium.ttf");
}
/* 600 */ @font-face {
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 600;
  src: url("https://raw.githubusercontent.com/blaisck/sfwin/master/SFPro/TrueType/SFProDisplay-SemiBold.ttf");
}
/* 700 */ @font-face {
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 700;
  src: url("https://raw.githubusercontent.com/blaisck/sfwin/master/SFPro/TrueType/SFProDisplay-Bold.ttf");
}

/* CSS General */

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: "SF Pro Display";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* HEADER */

/* HEADER Top */ 
.header-top {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 32px;
    padding: 16px 123px;
}
    /* logo */
.logo-header {
    width: 96px;
    height: 32px;
}
    /* search bar */
.search-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #F5F5F5;
    border-radius: 8px;
    width: 433px;
    height: 56px;
}
.search-input {
    border: none;
    padding: 16px 34px 16px 16px;
    background-color: #F5F5F5;
    outline: none;
    width: 398px;
}
.search-button {
    border: none;
    padding: 16px 0 16px 16px;
    cursor: pointer;
    background-color: #F5F5F5;
}
input {
    font-size: 14px;
}
    /* nav */
.header-top-ul {
    width: 100%;
    display: flex;
    gap: 50px;
}
.link-header {
    text-decoration: none;
    font-weight: inherit;
    color: rgba(0, 0, 0, 0.5);
}
.link-header:hover {
    color: rgba(0, 0, 0, 1);
}
ul, ol {
    list-style: none;
}
    /* icons nav */
.icons-header {
    display: flex;
    align-items: center;
    gap: 24px;
}
.icons-link-header {
    display: inline-block;
    text-decoration: none;
}
.icons-link-header img {
    display: block;
    height: auto;
}
li::marker {
    content: '';
}

/* HEADER Subnav*/

.sub-nav {
    width: 100%;
    display: flex;
    gap: 32px;
    padding: 16px 123px;
    background-color: #2e2e2e;
}
.sub-nav-menu {
    width: 100%;
    display: flex;
    list-style: none;
    justify-content: space-between;
    align-items: center;
}
.sub-nav-item {
    display: flex;
    align-items: center;
    gap: 8px;
}
.link-sub-nav {
    text-decoration: none;
    font-weight: inherit;
    color: rgba(255, 255, 255, 0.5);
}
.link-sub-nav:hover {
    color: rgba(255, 255, 255, 1);
}

.img-sub-nav {
    opacity: 0.5;
}

/* FOOTER */

footer {
    width: 100%;
    height: 464px;
    padding: 104px 123px;
    background-color: black;
    color: white;
    font-size: 14px;
}

.footer-infos {
    display: flex;
    justify-content: space-between;
    width: 1120px;
    height: 216px;
}

.footer-lt {
    width: 420px;
    height: 104px;
    font-size: 14px;   
}
.footer-lt-text {
    font-family: "SF Pro Display";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    padding: 24px 0 0 0;
}

.footer-ns {
    display: flex;
    justify-content: space-between;
    width: 623px;
}
.footer-ns-section {
    width: 295.5px;
}
.footer-ns-h2 {
    font-family: "SF Pro Display";
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    padding: 0 0 20px 0;
}
.footer-ns-li {
    font-family: "SF Pro Display";
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    padding: 0 0 15px 0;
}

.footer-socials {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 173px;
}


/* MAIN */

/* FRAME IPHONE */

.frame-iphone {
    background-color: #211C24;
    width: 100%;
    padding: 0 123px;
    height: 632px;
    display: flex;
    justify-content: space-between;
}

.frame-iphone-img {
    width: 406px;
}

.frame-iphone-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.f-i-c-title-p {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    color: rgba(255, 255, 255, 0.4);
    font-size: 25px;
    padding: 0 0 24px 0;
}
.f-i-c-title-h1 {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    color: white;
    font-size: 96px;
    padding: 0 0 24px 0;
}
.f-i-c-title-h1-strong {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    color: white;
    font-size: 96px;
}

.f-i-c-p {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    color: #909090;
    font-size: 18px;
    padding: 0 0 24px 0;
}

.f-i-c-button {
    width: 191px;
    height: 56px;
    background: none;
    border: 1px solid white;
    border-radius: 6px;
    cursor: pointer;
    outline: none;
    
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    color: white;
    font-size: 16px;
}